@import '../index.scss';

.footer{
    user-select: none;
    width: 100%;
    background-color: $purple;
    min-height: 300px;
    text-align: center;
    h1, h2, a{
        color: white;
    }
    .footer-title{
        margin: 20px 0;
    }
    .footer-content{
        font-size: 10pt;
        max-width: $max-section-width;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap:20px;
        .footer-col{
            display: flex;
            flex-direction: column;
            gap: 20px;
            min-width: 150px;
            a{
                transition: color 0.3s ease;
                &:hover{
                    color: $lila;
                }
            }
        }
    }
}
