@import '../index.scss';

.input-field{
    width: 100%;
    $border-bottom-radius: 3px;
    
    overflow: hidden;
    .input-label{
        font-size: 14pt;
        font-weight: bold;
        display: block;
        margin-left: 5px;
    }

    .input-input{
        width: 100%;
        border: none;
        font-size: 12pt;
        padding: 5px;
        background-color: $lila;
        border-bottom: $border-bottom-radius solid $purple;
        outline: none;
        transition: all 0.3s ease;
        border-radius: $border-bottom-radius;
        &:hover{
            background-color: #f5f5f5;
            border-color: $lila;
        }
    }
}