//TYPOGRAPHY
$font-display: 'Arima Madurai', cursive;
$font-sans: 'Raleway', sans-serif;

// COLOR PALLETTE
//colors
$white: #fefefe;
$black: #2b2c34;
$purple: #6246ea;
$lila: #d1d1e9;
$red: #e45858;
//sections
$background: $white;
$headline: $black;
$paragraph: $black;
$button-bg: $purple;
$button-txt: $white;
$background-secondary: $lila;
$card-bg: $white;
$links: $purple; 


//Breakpoints
$small: 600px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;

